<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/fragment :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/fragment :: css}" th:remove="tag"></object>
    <style>
      .navbar a.nav-link.active {
        color: #007bff; /* Warna teks tautan aktif */
        font-weight: bold; /* Bobot teks lebih tebal untuk tautan aktif */
        background-color: #ffffff; /* Warna latar belakang tautan aktif */
        border-bottom: 2px solid #007bff; /* Garis bawah pada tautan aktif */
        border-radius: 0; /* Menghapus sudut melengkung pada tautan aktif */
      }
    </style>
  </head>
  <body>
    <nav
      th:fragment="navbar(requestPage)"
      class="navbar navbar-expand-lg navbar-dark bg-primary"
    >
      <a class="navbar-brand navbar-dark bg-primary fw-bold text-light" href="/"
        >APAPEDIA</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              th:classappend="${requestPage== 'masuk' ? 'nav-link active' : ''}"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Masuk
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="/seller/register">Register</a>
              </li>
              <li><a class="dropdown-item" href="/login-sso">Login</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              th:classappend="${requestPage== 'catalog' ? 'nav-link active' : ''}"
              th:href="@{/catalog}"
              >Catalog</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
