<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Form Add Cart</title>
</head>

<body>
  <div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <h2>Add Cart</h2>
          <br>
          <form th:action="@{/cart/create}" th:object="${cartDTO}" method="POST">
            User ID: <br>
            <input class="form-control" type="text" th:field="*{userId}" />
            <br><br>

            Total Price: <br>
            <input class="form-control" type="number" th:field="*{totalPrice}" />
            <br><br>

            <button class="btn btn-primary" type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>